<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'array_syntax' => array('syntax' => 'short'),
        'protected_to_private' => false,
    ])
    ->setRiskyAllowed(true)
;
